/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"); */

.navbar {
	/* Coloring */
	background-color: white;

	/* Text */
	font-family: sans-serif;

	/* Spacing */
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	padding-top: 0.7rem;
	padding-bottom: 0.7rem;

	top: 0px;

	/* Flex */
	display: flex;
	align-items: center;

	/* Shadow (shadow-sm From TailwindCSS)*/
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.logoContainer {
	/* Cursor */
	cursor: pointer;

	/* Positioning */
	position: relative;

	/* Height/Width */
	height: 2.5rem;
	width: 5rem;

	/* Margins */
	margin-right: 14rem;
}

.searchBar {
	/* Flex */
	display: flex;
	align-items: center;
	flex: 1;

	/* Color */
	background-color: #f6f7fb;

	/* Border */
	border: solid 1px #edeff4;
	border-radius: 2rem;

	/* Padding */
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;

	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

.searchBarInput {
	/* Display */
	flex: 1;

	/* BG */
	background-color: transparent;

	/* Outline */
	outline: 2px solid transparent;
	outline-offset: 2px;

	/* Border */
	border: none;

	/* Margins */
	margin-left: 0.3rem;

	/* Font */
	font-family: "Golos Text", sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.plusIcon {
	/* Positioning */
	position: relative;

	/* Height / Width */
	height: 2.5rem;
	width: 2.5rem;

	/* Borders */
	border-radius: 20px;

	/* Color */
	background-color: #6171ff;
	color: white;

	/* Pointer */
	cursor: pointer;

	/* Margins */
	margin-right: 1.2rem;
	margin-left: 7rem;
}
